#imgIntro {
  height: 22%;
  width: 90%;
  position: absolute;
  top: 48px;
  left: 150px;
  background-image: url(../images/logo_banner2.png);
}

#sectionIntro{
  position: absolute;
  top: 221px;
  left: 150px;
  color: #000000;
}

#introduction{
  position: absolute;
  top: 100px;
  left: 150px;
  width: 750px;
}

#titleIntro {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 25px;
}

#txtIntro {
  font-size: 1.2em;
}



